.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .logo img {
  width: 180px;
}

.nav-link {
  font-size: 120;
}

.navbar {
  justify-content: center;
  height: 50px;
}

.navbar {
  justify-content: center;
}

.container-fluid {
}

.navbar-brand {
  text-shadow: 1px 1px 1px #8d8d8d;
  justify-content: center;
}

.container h1 {
  text-shadow: 1px 1px 1px #8d8d8d;
}
